export(fm.smn.cr,imm.fm.smn.cr,initial.values.fm.smn.cr)
export(fmr.smn.cr,initial.values.fmr.smn.cr)
export(CensMmix,rmmixcr)
importFrom("stats","kmeans","dnorm","pnorm","dt","optimize","pt","var","rmultinom","runif","rnorm","rgamma", "integrate", "optim", "rbeta")
importFrom("mixsmsn","rmix")
importFrom("grDevices", "dev.off", "postscript")
importFrom("graphics", "abline", "legend", "mtext", "par", "persp","plot")
import("mvtnorm")
import("mnormt")
import("ClusterR")
import("trimcluster")
